@charset "UTF-8";
@import url("../../../fonts/Poppins/Poppins-Regular.ttf");
form, .card {
  position: relative;
  margin-top: 60px;
  margin-bottom: 35px;
  border-radius: 10px;
  background: hsl(0deg, 0%, 10%);
  transition: 0.3s;
}
form:hover, .card:hover, form:active, .card:active, form:focus, .card:focus {
  border: 0.5px solid hsla(13deg, 87%, 54%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(13deg, 87%, 54%, 0.3);
}

.menu--toggle,
.goto-top, .nav-wrapper, .menu ul, .card, footer, header, .wrapper {
  display: grid;
  place-items: center;
}

.menu--toggle:hover,
.goto-top:hover, .button--primary:hover, .menu--toggle:active,
.goto-top:active, .button--primary:active, .menu--toggle:focus,
.goto-top:focus, .button--primary:focus {
  box-shadow: 0 0 15px hsl(13deg, 87%, 54%);
}

.menu--close:hover, .icon:hover, .button--secondary:hover, .menu--close:active, .icon:active, .button--secondary:active, .menu--close:focus, .icon:focus, .button--secondary:focus {
  background: hsl(13deg, 87%, 54%);
  color: hsl(0deg, 0%, 97%);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
footer {
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

body {
  background-image: url("../../images/bg/blurred-polygonal-background.jpg");
  animation: drop 1s;
}

footer {
  background-image: url("../../images/bg/blurred-polygonal-background-rotated.jpg");
}

::selection {
  color: hsl(0deg, 0%, 97%);
  background-color: hsl(13deg, 87%, 54%);
}

section:not(.header) {
  margin-bottom: 200px;
}

section,
footer {
  min-height: 100vh;
}

.header {
  min-height: unset;
}

li {
  list-style-type: none;
  color: hsl(0deg, 0%, 97%);
}

textarea {
  resize: none;
}

.wrapper {
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 50px;
}

.row__wrapper {
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 50px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes drop {
  from {
    background-position: 0 -100vh;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(0);
  }
}
header > * {
  animation: appear 2s;
}

.hero > :nth-child(1) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.hero > :nth-child(2) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.hero > :nth-child(3) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.hero > :nth-child(4) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.hero > :nth-child(5) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.hero > :nth-child(6) {
  animation-name: pop;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: hsl(0deg, 0%, 97%);
  text-decoration: none;
}

/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
}
body {
  background-color: hsl(0deg, 0%, 0%);
  font: normal 125%/1.4 "Poppins", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  margin-bottom: 30px;
}

h1 {
  color: hsl(13deg, 87%, 54%);
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 50px;
}

h2 {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 97%);
  letter-spacing: 6px;
  font-weight: normal;
}

p,
h3 {
  color: hsl(0deg, 0%, 61%);
}

h3 {
  font-weight: normal;
}

.label {
  font-size: 15px;
}

label,
input[type=text],
input[type=email],
textarea {
  font-size: 15px;
  color: hsl(0deg, 0%, 61%);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 */
.container {
  max-width: 80vw;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  width: 100%;
  /* 1 */
}

header {
  position: relative;
  height: 80px;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr 30fr 1fr;
  grid-auto-flow: row;
}
header .icon__wrapper {
  position: fixed;
  top: 30px;
  z-index: 1;
}
header .icon__wrapper--linkedin {
  right: 2vw;
}
header .icon__wrapper--github {
  left: 2vw;
}

footer {
  position: relative;
}
footer .footer__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
footer .container {
  padding-bottom: 0;
}
footer .icons {
  display: inline-block;
  margin: 10px;
}
footer a {
  font-size: 15px;
}
footer p {
  font-size: 15px;
  color: hsl(0deg, 0%, 97%);
}
footer .footer__copyright {
  color: hsl(0deg, 0%, 61%);
}
footer .footer__copyright__link {
  position: absolute;
  bottom: 20px;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 12.5px 20px;
  font-size: 15px;
  min-width: 150px;
  border-radius: 100vw;
  background: transparent;
  transition: 0.3s;
}
.button--primary {
  color: hsl(13deg, 87%, 54%);
  border: 2px solid hsl(13deg, 87%, 54%);
}
.button--secondary {
  color: hsl(0deg, 0%, 97%);
  border: 2px solid hsl(13deg, 87%, 54%);
}

.card {
  width: max-content;
  gap: 30px;
  border: 0.5px solid hsla(18deg, 88%, 55%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(18deg, 88%, 55%, 0.3);
  transition: 0.3s;
}
.card__description {
  padding-inline: 30px;
}
.card__icon {
  height: 70px;
  width: auto;
}
.card--html5:hover {
  border: 0.5px solid hsla(18deg, 88%, 55%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(18deg, 88%, 55%, 0.3);
}
.card--css3:hover {
  border: 0.5px solid hsla(222deg, 88%, 55%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(222deg, 88%, 55%, 0.3);
}
.card--js:hover {
  border: 0.5px solid hsla(53deg, 93%, 54%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(53deg, 93%, 54%, 0.3);
}
.card--sass:hover {
  border: 0.5px solid hsla(330deg, 53%, 60%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(330deg, 53%, 60%, 0.3);
}
.card--bootstrap:hover {
  border: 0.5px solid hsla(272deg, 98%, 53%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(272deg, 98%, 53%, 0.3);
}
.card--git:hover {
  border: 0.5px solid hsla(10deg, 86%, 57%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(10deg, 86%, 57%, 0.3);
}
.card--figma:hover {
  border: 0.5px solid hsla(6deg, 100%, 69%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(6deg, 100%, 69%, 0.3);
}
.card--xd:hover {
  border: 0.5px solid hsla(303deg, 100%, 69%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(303deg, 100%, 69%, 0.3);
}
.card--photoshop:hover {
  border: 0.5px solid hsla(205deg, 100%, 60%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(205deg, 100%, 60%, 0.3);
}
.card--illustrator:hover {
  border: 0.5px solid hsla(36deg, 100%, 50%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(36deg, 100%, 50%, 0.3);
}

.cards .card {
  width: 200px;
  height: 200px;
}
.cards .cards__heading--front-end {
  margin-top: 60px;
}
.cards .cards__heading--front-end::before {
  content: url("../images/icons/front-end-icon.svg");
  display: inline-block;
  position: relative;
  top: 2.5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.cards .cards__heading--ui-ux::before {
  content: url("../../images/icons/ui-ux-icon.svg");
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.card__info {
  padding-inline: 30px;
}
.card__info__heading {
  margin-bottom: 10px;
  color: hsl(0deg, 0%, 97%);
}
.card__info__tech-stack {
  background-color: #333;
  border-radius: 100vw;
  display: grid;
  gap: 10px;
  padding: 5px 10px;
  grid-auto-flow: column;
  margin-inline: auto;
  width: min-content;
}
.card__info__tech-stack__img {
  width: 30px;
  aspect-ratio: 1/1;
}

.cards__wrapper {
  grid-template-columns: repeat(auto-fill, 250px);
}

@media screen and (max-width: 550px) {
  .card {
    width: 90vw;
  }

  .card__description {
    padding-inline: 15px;
  }
}
.projects__image {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-right: 50px;
  border-radius: 10px;
  scroll-snap-align: start;
}
.projects__image:last-of-type {
  margin-right: 0;
}
.projects__image__slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 50px;
  margin-bottom: 50px;
}
.projects__image__slider__wrapper {
  position: relative;
}
.projects__image__slider__wrapper::after {
  position: absolute;
  bottom: 20px;
  right: 10px;
  content: "Scroll left →";
  font-size: 15px;
  color: hsl(0deg, 0%, 61%);
}
.projects__image__slider::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.projects__image__slider::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.projects__image__slider::-webkit-scrollbar-track {
  background: transparent;
}

#form__container {
  padding: 0;
  margin-bottom: 0;
}

#contact-form {
  border: 0.5px solid hsla(18deg, 88%, 55%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(18deg, 88%, 55%, 0.3);
}

form {
  width: 900px;
  max-width: 80vw;
  padding: 60px 30px;
  margin: auto;
  margin-top: 50px;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-bottom: 50px;
}
.form label {
  color: hsl(0deg, 0%, 61%);
}
.form input[type=text],
.form input[type=email],
.form textarea {
  background-color: hsl(0deg, 0%, 15%);
  box-shadow: none;
}
.form input[type=text]:hover, .form input[type=text]:active, .form input[type=text]:focus,
.form input[type=email]:hover,
.form input[type=email]:active,
.form input[type=email]:focus,
.form textarea:hover,
.form textarea:active,
.form textarea:focus {
  background-color: hsl(0deg, 0%, 20%);
  border: none;
  box-shadow: none;
}
.form input[type=text],
.form input[type=email],
.form textarea, .form__radio__wrapper {
  border: 0px;
  margin: 20px auto;
  width: 300px;
  max-width: 60vw;
  padding: 10px;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus, .form__radio__wrapper:focus {
  outline: 0;
}
.form__radio__wrapper {
  text-align: start;
  padding: 0;
}
.form__radio__wrapper__label {
  text-align: center;
  margin: auto;
}

.icon {
  width: 26px;
  height: 26px;
  border-radius: 100vw;
  transition: 0.3s;
}
.icon--front-end {
  border-radius: 0;
}

.menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 20px;
  background-image: url("../../images/bg/blurred-polygonal-background-rotated.jpg");
  background-size: cover;
  animation: slide-in-left 0.5s backwards;
  z-index: 999;
}
.menu:target {
  display: block;
  outline: none;
  animation: slide-in-left 0.5s;
}
.menu:target ul {
  position: relative;
  z-index: 1000;
}
.menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background: rgba(0, 0, 0, 0.6);
  cursor: default;
}
.menu:target .menu--close {
  z-index: 1001;
}
.menu ul {
  position: absolute;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 50vw;
  height: 70vh;
}
.menu--close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: hsl(13deg, 87%, 54%);
}
.menu,
.menu:target + .backdrop {
  position: fixed;
}

.nav-wrapper {
  position: fixed;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid hsl(13deg, 87%, 54%);
}

.menu--toggle,
.goto-top {
  bottom: 20px;
  transition: 0.3s;
  z-index: 1;
  padding: 10px;
}

.menu--toggle {
  left: 20px;
}

.goto-top {
  position: fixed;
  right: 20px;
}

.nav li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav a {
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.nav a:hover, .nav a:active, .nav a:focus {
  background-color: hsl(13deg, 87%, 54%);
}

.logo {
  height: 40px;
}

.hero.container {
  padding-top: 75px;
  padding-bottom: 75px;
}
.hero p {
  margin-block: 10px 20px;
}
.hero h1 {
  margin-top: 0px;
}
.hero span {
  font-weight: 100;
}
.hero__profile-picture {
  width: 250px;
  margin: 20px 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px hsl(13deg, 87%, 54%);
}
.hero__copy {
  padding: 10px;
  margin-bottom: 40px;
}
.hero__button {
  margin: 20px 0;
}

.projects .card {
  padding-bottom: 40px;
  max-width: 450px;
}
.projects .card > * {
  max-width: 450px;
}
.projects .card--mcd:hover {
  border: 0.5px solid hsla(213deg, 70%, 50%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(213deg, 70%, 50%, 0.3);
}
.projects .card--portfolio:hover {
  border: 0.5px solid hsla(13deg, 87%, 54%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(13deg, 87%, 54%, 0.3);
}
.projects .card__image-box {
  width: 100%;
  height: 200px;
  padding: 5px;
  overflow: hidden;
  background: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects .card__image {
  border-radius: 5px;
  height: 100%;
  transition: 0.3s;
}
.projects .card__image--mcd {
  background: url("../../images/mcd/Glass-Morphism-Mockup.jpg");
  background-position: center;
  background-size: cover;
}
.projects .card__image--portfolio {
  background: url("../../images/portfolio/Glass-Morphism-Mockup-Portfolio.jpg");
  background-position: center;
  background-size: cover;
}
.projects .card__image:hover {
  transform: scale(1.17);
}

.timeline__image {
  width: 100px;
  height: auto;
}
.timeline__date::before {
  content: url("../../images/icons/calendar-icon.svg");
  display: inline-block;
  position: relative;
  top: 1.5px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.timeline .wrapper {
  margin-top: 50px;
  column-gap: 100px;
}
.timeline h3 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: hsl(0deg, 0%, 97%);
}
.timeline__image__wrapper {
  position: relative;
  width: 100px;
}
.timeline__image__wrapper--rect {
  height: 50px;
}
.timeline__image__wrapper--circle {
  height: 100px;
}
.timeline__image {
  position: absolute;
  left: 0;
  transition: 0.3s;
}
.timeline .card {
  width: 80vw;
  max-width: 450px;
  padding: 50px;
}
.timeline .card:hover .timeline__image--top, .timeline .card:active .timeline__image--top, .timeline .card:focus .timeline__image--top {
  opacity: 0;
}
.timeline .card--my-brand:hover, .timeline .card--my-brand:active, .timeline .card--my-brand:focus {
  border: 0.5px solid hsla(113deg, 100%, 33%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(113deg, 100%, 33%, 0.3);
}
.timeline .card--my-brand .timeline__image--bottom,
.timeline .card--my-brand .timeline__image--top {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102 28'%3E%3Cpath fill='%2314a800' d='M28.18 19.06A6.54 6.54 0 0 1 23 16c.67-5.34 2.62-7 5.2-7s4.54 2 4.54 5-2 5-4.54 5m0-13.34a7.77 7.77 0 0 0-7.9 6.08 26 26 0 0 1-1.93-5.62H12v7.9c0 2.87-1.3 5-3.85 5s-4-2.12-4-5v-7.9H.49v7.9A8.61 8.61 0 0 0 2.6 20a7.27 7.27 0 0 0 5.54 2.35c4.41 0 7.5-3.39 7.5-8.24V8.77a25.87 25.87 0 0 0 3.66 8.05L17.34 28h3.72l1.29-7.92a11 11 0 0 0 1.36 1 8.32 8.32 0 0 0 4.14 1.28h.34A8.1 8.1 0 0 0 36.37 14a8.12 8.12 0 0 0-8.19-8.31M80.8 7.86V6.18h-3.6v15.63h3.65v-6.12c0-3.77.34-6.48 5.4-6.13V6c-2.36-.18-4.2.31-5.45 1.87M55.51 6.17l-2.64 10.94-2.82-10.94h-4.64l-2.82 10.94-2.64-10.94h-3.69l4.05 15.65h4.38l3.04-11.11 3.01 11.11h4.38L59.4 6.17h-3.89zM67.42 19.07c-2.59 0-4.53-2.05-4.53-5s2-5 4.53-5S72 11 72 14s-2 5-4.54 5m0-13.35A8.1 8.1 0 0 0 59.25 14a8.18 8.18 0 1 0 16.35 0 8.11 8.11 0 0 0-8.18-8.31M91.47 14.13h.84l5.09 7.69h4.11l-5.85-8.53a7.66 7.66 0 0 0 4.74-7.11h-3.63c0 3.37-2.66 4.65-5.3 4.65V0h-3.65v21.82h3.64z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 50px;
}
.timeline .card--my-brand .timeline__image--top {
  filter: brightness(0) invert(1);
}
.timeline .card--datadev:hover, .timeline .card--datadev:active, .timeline .card--datadev:focus {
  border: 0.5px solid hsla(199deg, 100%, 41%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(199deg, 100%, 41%, 0.3);
}
.timeline .card--fsd-internship:hover, .timeline .card--fsd-internship:active, .timeline .card--fsd-internship:focus {
  border: 0.5px solid hsla(358deg, 85%, 52%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(358deg, 85%, 52%, 0.3);
}
.timeline .card--faculty:hover, .timeline .card--faculty:active, .timeline .card--faculty:focus {
  border: 0.5px solid hsla(185deg, 40%, 43%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(185deg, 40%, 43%, 0.3);
}
.timeline .card--high-school:hover, .timeline .card--high-school:active, .timeline .card--high-school:focus {
  border: 0.5px solid hsla(205deg, 100%, 31%, 0.2);
  box-shadow: 0px 0px 30px 1px hsla(205deg, 100%, 31%, 0.3);
}