@import "@sass/mixins"

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: local(''), url('../fonts/poppins-v20-latin-regular.woff2') format('woff2')

*, *::before, *::after
  transition: $transition-base

*
  cursor: url(../../static/cursor.png) 15 15, auto !important

::selection
  background-color: rgba(255, 255, 255, 0.1)
  color: $white

:focus-visible
  outline: none

::-webkit-scrollbar
  width: 7px

  &-thumb
    background-color: var(--glass-border)

body
  overflow: hidden

button
  background-color: transparent
  color: var(--bs-secondary)
  border: 0

.glass
  background-color: rgba(255, 255, 255, 0.1)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(7.5px)
  border: 1px solid var(--glass-border)
  &--border
    border: 1px solid var(--glass-border)

#content
  overflow-y: scroll
  scroll-behavior: smooth

section
  @extend .row, .row-cols-1, .justify-content-center, .gy-4, .mt-4
  &:not(:last-child)
    margin-block-end: 200px

a:not(.button)
  @extend .text-decoration-none

nav a:not(:first-child), .my-card button
  @include on-interaction
    background-color: var(--white-bg)

h2
  @extend .text-uppercase, .fw-bold

h6, p
  margin-block-end: 0

.text-white
  opacity: 0.9

.card button svg
  @extend .text-primary

small
  font-size: 0.7em

.icon-label, h1, h2, a.button
  letter-spacing: 0.15em

.btns .button
  @extend .me-3

.icon
  filter: invert(1)
  opacity: 0.5

form, input:not([type='radio']), select, textarea
  @extend .glass--border

input:not([type='radio']), select, textarea
  // color: var(--bs-secondary)
  padding-inline: 10px
  background-color: transparent

input, textarea
  color: var(--bs-secondary)

label
  cursor: text

select
  color: transparent

textarea
  resize: none

.connector:last-child
  display: none

ul
  padding-left: 1rem

li
  list-style-type: "- "
  margin-block-end: 5px

//Media queries

@media (max-aspect-ratio: 1/1) //< tablet
  #main
    flex-direction: column-reverse
  #content
    margin-block-end: 1rem
  nav
    border-block-end: none !important
    padding: 1rem 0.75rem
    margin-inline: 0.5rem
    overflow-y: hidden
    a
      padding-inline: 0.25rem
      span
        padding: 0.25rem

@media (min-aspect-ratio: 1/1) //tablet >
  #main
    padding-block-end: 1.5rem
  #content
    width: 100%

  nav
    flex-direction: column
    border-inline-start: none !important
    padding-inline: 0.5rem
    span
      padding: 0.5rem
