*
  transition: $transition-base
::selection
  background-color: $primary
  color: $white

::-webkit-scrollbar
  width: 7px

  &-track
    margin-block: 10px

  &-thumb
    @extend .rounded-pill
    background-color: $gray

body
  overflow-x: hidden
  background: url("../images/background.jpg") left/cover no-repeat fixed

.glass
  background: rgba(255, 255, 255, 0.15)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(15px)
  border: 1px solid rgba(255, 255, 255, 0.3)
  overflow-y: scroll
  overflow-x: hidden

section
  @extend .row, .row-cols-1, .justify-content-center, .gy-4, .mt-4
  margin-block-end: 200px

// .btn
//   border-radius: 100vw

// .filter--white
//   filter: brightness(0) invert(1)

// .filter--primary
//   filter: invert(40%) sepia(96%) saturate(3073%) hue-rotate(349deg) brightness(98%) contrast(91%)

small
  font-size: 0.7em
.icon-label
  letter-spacing: 0.15em
  color: var(--icons-white)
