// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    height: 100vh;
    background-image: url(/images/bg/bg-poygonal-black-rotated.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}