// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: relative;
  @extend %grid;

  background-image: image(
    "bg/blurred-polygonal-background-rotated.jpg",
    "../../"
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .footer__wrapper {
    grid-template-columns: repeat(auto-fill, 320px);
  }

  .container {
    padding-bottom: 0;
  }

  .icons {
    display: inline-block;
    margin: 10px;
  }

  a {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    color: $white-color;
  }

  .footer {
    &__copyright {
      color: $text-color;

      &__link {
        position: absolute;
        bottom: 20px;
      }
    }
  }
}
