// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    @include grid;

    min-height: 100vh;
    background-image: image('bg/blurred-polygonal-background-rotated.png', '../../');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    .container {
        padding-bottom: 0;
    }

    .icons {
        display: inline-block;
        margin: 10px;
    }

    a {
        font-size: 15px;
    }

    p { 
        font-size: 15px;
        color: $white-color;
    }

    .footer {
        &__copyright {
            color: $text-color;
        }
    }
}