// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    position: relative;
    height: $header-height;
    // width: 100%;
    padding: 20px;
    @include grid;
    justify-content: space-between;
    grid-template-columns: 1fr 30fr 1fr;
    grid-auto-flow: row;

    &::after {
        position: absolute;
        top: 60px;
        display: block;
        content: url(../../images/bg/light-effect.png);
      }
}
