.icon {
  --base-size: 1rem;
  --md: calc(var(--base-size) * 1.5);
  --lg: calc(var(--base-size) * 2);
  opacity: 0.5;
}

.medium {
  height: var(--md);
}

.large {
  height: var(--lg);
}

.small {
  height: var(--base-size);
}
