@import "@sass/mixins"
@import "@sass/variables"

.nav
    min-width: fit-content
.navLink
    transition: 0.15s
    color: var(--icons-color)
    @include on-interaction
        color: var(--bs-primary)

.visible
    transform: translateX(0)
