// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.logo {
    height: 40px;
    // aspect-ratio: 1;
}

.hero {
    h1 {
        margin-top: 0px;
    }
    
    &__profile-picture {
        width: 250px;
        margin: 20px 0;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $brand-color;
    }

    &__copy {
        padding: 10px;
        margin-bottom: 40px;
    }

    &__button {
        margin: 20px 0;
    }

}

.profile {
    &__languages__picture {
        width: 30px;
        height: auto;
        border-radius: 2px;
      }
    
      .container {
        margin: 0;
        padding: 20px;
        gap: 10px;
        grid-auto-flow: column;
      }
    
      .wrapper {
        grid-template-columns: repeat(auto-fill, 300px);
      }
    
    &__description {
        margin-bottom: 60px;
    }

    h3::before {
        content: image('icons/languages-icon.svg', '../../');
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

}

.projects {
    .card {
      padding-bottom: 40px;
  
      &--mcd:hover {
        @include colored-card(213, 70%, 50%);
      }
  
      &--cv:hover {
        @include colored-card(13, 87%, 54%);
      }
  
      &__image-box {
        width: 80vw;
        max-width: 450px;
        height: 200px;
        // max-width: 500px;
        overflow: hidden;
        background: transparent;
        border-top-left-radius: $border-radius-rect;
        border-top-right-radius: $border-radius-rect;
      }
  
      &__image {
        // refactor
        width: 100%;
        height: 100%;
        background: image('mcd/Glass-Morphism-Mockup.jpg', '../../');
        background-position: center;
        background-size: cover;
        transition: $transition-duration;
  
        &:hover {
          transform: scale(1.17);
        }
      }
    }
  }
  
.timeline {     
    &__image {
        width: 100px;
        height: auto;
    }

    &__date::before {
        content: image('icons/calendar-icon.svg', '../../');
        display: inline-block;
        position: relative;
        top: 1.5px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }

    .wrapper {
        margin-top: 50px;
        column-gap: 100px;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
        color: $white-color;
    }

    &__image__wrapper {
      position: relative;
      width: 100px;
  
      &--rect {
        height: 50px;
      }
  
      &--circle {
        height: 100px;
      }
    }
  
    &__image {
      position: absolute;
      left: 0;
      transition: $transition-duration;
    }
  
    .card {
      width: 80vw;
      max-width: 450px;
      padding: 50px;
  
      @include on-event {
        .timeline__image--top {
          opacity: 0;
        }
      }
      &--my-brand {
        @include on-event {
          @include colored-card(213, 70%, 50%);
        }
      }
      &--datadev {
        @include on-event {
          @include colored-card(199, 100%, 41%);
        }
      }
      &--fsd-internship {
        @include on-event {
          @include colored-card(358, 85%, 52%);
        }
      }
      &--faculty {
        @include on-event {
          @include colored-card(185, 40%, 43%);
        }
      }
      &--high-school {
        @include on-event {
          @include colored-card(205, 100%, 31%);
        }
      }
    }
}
