// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.logo {
    height: 40px;
    // aspect-ratio: 1;
}

.hero {
  &.container {
    // @extend %grid;
    padding: {
      top: 75px;
      bottom: 75px;
    }
  }
    p {
      margin-block: 10px 20px;
    }

    h1 {
        margin-top: 0px;
    }

    span {
      font-weight: 100;
    }
    
    &__profile-picture {
        width: 250px;
        margin: 20px 0;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $brand-color;
    }

    &__copy {
        padding: 10px;
        margin-bottom: 40px;
    }

    &__button {
        margin: 20px 0;
    }

}

.projects {
    .card {
      padding-bottom: 40px;
      max-width: 450px;

      & > * {
        max-width: 450px;
      }
  
      &--mcd:hover {
        @include colored-card(213, 70%, 50%);
      }
  
      &--portfolio:hover {
        @include colored-card(13, 87%, 54%);
      }
  
      &__image-box {
        width: 100%;
        height: 200px;
        padding: 5px;
        overflow: hidden;
        background: transparent;
        border-top-left-radius: $border-radius-rect;
        border-top-right-radius: $border-radius-rect;
      }
  
      &__image {
        border-radius: 5px;
        height: 100%;
        transition: $transition-duration;
        
        &--mcd {
          background: image('mcd/Glass-Morphism-Mockup.jpg', '../../');
          background-position: center;
          background-size: cover;
        }

        &--portfolio {
          background: image('portfolio/Glass-Morphism-Mockup-Portfolio.jpg', '../../');
          background-position: center;
          background-size: cover;
        }

        &:hover {
          transform: scale(1.17);
        }
      }
      
    }
  }
  
.timeline {     
    &__image {
        width: 100px;
        height: auto;
    }

    &__date::before {
        content: image('icons/calendar-icon.svg', '../../');
        display: inline-block;
        position: relative;
        top: 1.5px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }

    .wrapper {
        margin-top: 50px;
        column-gap: 100px;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
        color: $white-color;
    }

    &__image__wrapper {
      position: relative;
      width: 100px;
  
      &--rect {
        height: 50px;
      }
  
      &--circle {
        height: 100px;
      }
    }
  
    &__image {
      position: absolute;
      left: 0;
      transition: $transition-duration;
    }
  
    .card {
      width: 80vw;
      max-width: 450px;
      padding: 50px;
  
      @include on-event {
        .timeline__image--top {
          opacity: 0;
        }
      }
      &--my-brand {
        @include on-event {
          @include colored-card(113, 100%, 33%);
        }

        .timeline__image--bottom,
        .timeline__image--top {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102 28'%3E%3Cpath fill='%2314a800' d='M28.18 19.06A6.54 6.54 0 0 1 23 16c.67-5.34 2.62-7 5.2-7s4.54 2 4.54 5-2 5-4.54 5m0-13.34a7.77 7.77 0 0 0-7.9 6.08 26 26 0 0 1-1.93-5.62H12v7.9c0 2.87-1.3 5-3.85 5s-4-2.12-4-5v-7.9H.49v7.9A8.61 8.61 0 0 0 2.6 20a7.27 7.27 0 0 0 5.54 2.35c4.41 0 7.5-3.39 7.5-8.24V8.77a25.87 25.87 0 0 0 3.66 8.05L17.34 28h3.72l1.29-7.92a11 11 0 0 0 1.36 1 8.32 8.32 0 0 0 4.14 1.28h.34A8.1 8.1 0 0 0 36.37 14a8.12 8.12 0 0 0-8.19-8.31M80.8 7.86V6.18h-3.6v15.63h3.65v-6.12c0-3.77.34-6.48 5.4-6.13V6c-2.36-.18-4.2.31-5.45 1.87M55.51 6.17l-2.64 10.94-2.82-10.94h-4.64l-2.82 10.94-2.64-10.94h-3.69l4.05 15.65h4.38l3.04-11.11 3.01 11.11h4.38L59.4 6.17h-3.89zM67.42 19.07c-2.59 0-4.53-2.05-4.53-5s2-5 4.53-5S72 11 72 14s-2 5-4.54 5m0-13.35A8.1 8.1 0 0 0 59.25 14a8.18 8.18 0 1 0 16.35 0 8.11 8.11 0 0 0-8.18-8.31M91.47 14.13h.84l5.09 7.69h4.11l-5.85-8.53a7.66 7.66 0 0 0 4.74-7.11h-3.63c0 3.37-2.66 4.65-5.3 4.65V0h-3.65v21.82h3.64z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          height: 50px;
        }
        .timeline__image--top {
          filter: brightness(0) invert(1);
        }
      }
      &--datadev {
        @include on-event {
          @include colored-card(199, 100%, 41%);
        }
      }
      &--fsd-internship {
        @include on-event {
          @include colored-card(358, 85%, 52%);
        }
      }
      &--faculty {
        @include on-event {
          @include colored-card(185, 40%, 43%);
        }
      }
      &--high-school {
        @include on-event {
          @include colored-card(205, 100%, 31%);
        }
      }
    }
}
