@import "@sass/mixins"

.scene
    @include size(150px)
    perspective: 600px

.card
    width: 100%
    height: 100%
    position: relative
    transition: transform 1s
    transform-style: preserve-3d
    @include on-interaction
        transform: rotateY(180deg)

.card__face
    position: absolute
    height: 100%
    width: 100%
    backface-visibility: hidden

.card__faceback
    transform: rotateY( 180deg )

.glassCard
    border: 1px solid var(--glass-border)

.icon
    background-color: var(--white-bg)
