@import "@sass/partials/variables";

.icons button {
  &:nth-last-child(2) {
    margin-inline-end: 10px;
  }

  &:last-child {
    position: relative;
    padding-inline-start: 10px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: var(--white-bg);
    }
  }
}

.bg_active {
  background-color: rgb(255 255 255 / 10%);
}
