// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin colored-card($h-value, $s-value, $l-value) {
  border: 0.5px solid hsla($h-value, $s-value, $l-value, 0.2);
  box-shadow: 0px 0px 30px 1px hsla($h-value, $s-value, $l-value, 0.3);
}

// Placeholder classes

%card--skin {
  position: relative;
  margin-top: 60px;
  margin-bottom: 35px;
  border-radius: $border-radius-rect;
  background: hsl(0, 0%, 10%);
  transition: $transition-duration;

  @include on-event {
    @include colored-card(13, 87%, 54%);
  }
}

%grid {
  display: grid;
  place-items: center;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%interaction--primary {
  @include on-event {
    box-shadow: 0 0 15px $brand-color;
  }
}

%interaction--secondary {
  @include on-event {
    background: $brand-color;
    color: $white-color;
  }
}
