/**
 * Basic typography style for copy text
 */
body {
  background-color: $bg-color;
  font: normal 125% / 1.4 $text-font-stack;
  text-align: center;
}

h1, 
h2, 
h3 {
  margin-bottom: 30px;
}

h1 {
  color: $brand-color;
  font-weight: 500;
}

h2 {
  text-transform: uppercase;
  color: $white-color;
  letter-spacing: 6px;
  font-weight: normal;

  &::after {
    display: block;
    content: image('bg/light-effect.png', '../../');
  }
}

p,
h3  {
  color: $text-color;
}

h3 {
  font-weight: normal;
}

.label {
  font-size: 15px;
}

label,
input[type=text],
input[type=email],
textarea {
  font-size: 15px;
  color: $text-color;
  text-align: center;
}

