.card {
  @include card--skin;
  @include grid;
  width: max-content;

  .cards__wrapper {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .cards__heading {
    &--front-end::before {
        content: image('icons/front-end-web-development-icon.svg', '../../');
        display: inline-block;
        position: relative;
        top: 2.5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    &--ui-ux::before {
        content: image('icons/ui-ux-icon.svg', '../../');
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
  } 

  &__icon {
    height: 80px;
    width: auto;
  }

  &__progress-bar {
    width: 200px;
    height: 20px;
    border-radius: $border-radius;
    background-color: $text-color;

    &__fill {
      position: relative;
      height: 100%;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      background-color: $brand-color;
      transition: $transition-duration;

      &--html5 {
        width: 50%;
      }

      &--css3 {
        width: 70%;
      }

      &--sass {
        width: 25%;
      }

      &--figma {
        width: 60%;
      }

      &--photoshop {
        width: 50%;
      }

      &--illustrator {
        width: 40%;
      }
    }
  }

  &--html5:hover {
    @include colored-card(18, 88%, 55%);

    .card__progress-bar__fill {
      background-color: hsl(18, 88%, 55%);
    }
  }

  &--css3:hover {
    @include colored-card(222, 88%, 55%);

    .card__progress-bar__fill {
      background-color: hsl(222, 88%, 55%);
    }
  }

  &--sass:hover {
    @include colored-card(330, 53%, 60%);

    .card__progress-bar__fill {
      background-color: hsl(330, 53%, 60%);
    }
  }

  &--figma:hover {
    @include colored-card(6, 100%, 69%);

    .card__progress-bar__fill {
      background-color: hsl(6, 100%, 69%);
    }
  }

  &--photoshop:hover {
    @include colored-card(205, 100%, 60%);

    .card__progress-bar__fill {
      background-color: hsl(205, 100%, 60%);
    }
  }

  &--illustrator:hover {
    @include colored-card(36, 100%, 50%);

    .card__progress-bar__fill {
      background-color: hsl(36, 100%, 50%);
    }
  }
}