.card {
  @extend %card--skin;
  @extend %grid;
  width: max-content;
  gap: 30px;

  .cards__heading {
    &--front-end::before {
      content: image("icons/front-end-web-development-icon.svg", "../../");
      display: inline-block;
      position: relative;
      top: 2.5px;
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    &--ui-ux::before {
      content: image("icons/ui-ux-icon.svg", "../../");
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }

  &__icon {
    height: 70px;
    width: auto;
  }

  &--html5:hover {
    @include colored-card(18, 88%, 55%);
  }

  &--css3:hover {
    @include colored-card(222, 88%, 55%);
  }

  &--sass:hover {
    @include colored-card(330, 53%, 60%);
  }

  &--git:hover {
    @include colored-card(10, 86%, 57%);
  }

  &--figma:hover {
    @include colored-card(6, 100%, 69%);
  }

  &--xd:hover {
    @include colored-card(303, 100%, 69%);
  }

  &--photoshop:hover {
    @include colored-card(205, 100%, 60%);
  }

  &--illustrator:hover {
    @include colored-card(36, 100%, 50%);
  }
}

.cards {
  .card {
    width: 200px;
    height: 200px;
  }
}

.cards__wrapper {
  grid-template-columns: repeat(auto-fill, 250px);
}
