.icon {
    width: 26px;
    height: 26px;
    border-radius: $border-radius;
    transition: $transition-duration;
    @include interaction--secondary;

    &--github {

    }

    &--linkedin {
        
    }

    &--front-end {
        border-radius: 0;
    }
    
}