.nav-wrapper {
  @extend %grid;
  position: fixed;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid $brand-color;
}

.menu--toggle,
.goto-top {
  @extend %grid;
  @extend %interaction--primary;
  bottom: 20px;
  transition: $transition-duration;
  z-index: 1;
  padding: 10px;
}

.menu--toggle {
  left: 20px;
}

.goto-top {
  position: fixed;
  right: 20px;
}

.nav {
  li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a {
    padding: 10px;
    border-radius: $border-radius-rect;
    transition: $transition-duration;

    @include on-event {
      background-color: $brand-color;
    }
  }
}
