.nav-wrapper {
    @include grid;

    position: fixed;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid $white-color;
}

.menu--toggle {
    bottom: 20px;
    left: 20px;
    transition: $transition-duration;
    
    @include grid;
    @include interaction--primary;

    &__icon {
        color: $white-color;

    }
}

.goto-top {
    bottom: 20px;
    right: 20px;
    transition: $transition-duration;
    
    @include grid;
    @include interaction--primary;

    &__arrow {
        height: 35px;
        color: $white-color;
    }
}