@import "@sass/partials/mixins";

*,
*::before,
*::after {
  transition: $transition-base;
}

*:not(a, button, input, textarea) {
  cursor: url(../../../static/cursor.png) 15 15, auto !important;
}

::selection {
  background-color: rgb(255 255 255 / 10%);
  color: $white;
}

:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;

  &-thumb {
    background-color: var(--glass-border);
  }
}

.projects-wrapper-scroll::-webkit-scrollbar {
  width: 5px;
}

body {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 50%);
    z-index: 1;
  }
}

video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

progress {
  appearance: none;
  height: 4px;
  z-index: 1;
  accent-color: var(--bs-primary);
}

progress::-webkit-progress-value {
  background-color: var(--bs-primary);
}

progress::-moz-progress-bar {
  background-color: var(--bs-primary);
}

#main {
  height: calc(100vh - 40px);
}

button {
  background-color: transparent;
  color: var(--bs-secondary);
  border: 0;
}

.glass {
  background-color: rgb(255 255 255 / 10%);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(7.5px);
  border: 1px solid var(--glass-border);

  &--border {
    border: 1px solid var(--glass-border);
  }
}

#content {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  @extend .row, .row-cols-1, .justify-content-center, .gy-4, .mt-4;

  &:not(:last-child) {
    margin-block-end: 200px;
  }
}

a {
  color: $white;

  &:not(.button) {
    @extend .text-decoration-none;
  }
}

nav a:not(:first-child),
.my-card button {
  @include on-interaction {
    background-color: var(--white-bg);
  }
}

.btns .button {
  @extend .me-3;
}

.connector:last-child {
  display: none;
}

ul {
  padding-left: 1rem;
}

li {
  list-style-type: "- ";
  margin-block-end: 5px;
}
