@media (max-aspect-ratio: 1 / 1) {
  #main {
    flex-direction: column-reverse;
  }

  #content {
    margin-block-end: 1rem;
  }

  #hero {
    height: 85vh;
  }

  nav {
    border-block-end: none !important;
    padding: 1rem 0.75rem;
    margin-inline: 0.5rem;
    overflow-y: hidden;

    a {
      padding-inline: 0.25rem;

      span {
        padding: 0.25rem;
      }
    }
  }
}

@media (min-aspect-ratio: 1 / 1) {
  header {
    height: 100%;
  }

  #main {
    padding-block-end: 1.5rem;
  }

  #content {
    width: 100%;
  }

  #hero {
    height: 90vh;
  }

  nav {
    flex-direction: column;
    border-inline-start: none !important;
    padding-inline: 0.5rem;

    span {
      padding: 0.5rem;
    }
  }
}
