:root {
  --white-bg: hsla(0deg 0% 97%/10%);
  --glass-border: rgb(255 255 255 / 30%);
  --icons-color: hsla(0deg 0% 97%/80%);
}

$white: hsl(0deg 0% 97%);
$gray: hsl(0deg 0% 61%);
$body-bg: rgb(41 41 41);
$body-color: $gray;
$primary: #d70930;
$secondary: hsla(0deg 0% 97% / 50%);
$border-radius: 20px;
$font-family-sans-serif: "Poppins", system-ui;
